In [3]:
import sqlite3

# conn = sqlite3.connect("/home/alex/network_workdir/elections/databases_ssd/complete_trump_vs_hillary_db.sqlite")
conn = sqlite3.connect("/home/alex/network_workdir/elections/databases_ssd/complete_trump_vs_hillary_sep-nov_db.sqlite")
c = conn.cursor()
# c.execute("SELECT count(*) FROM tweet_to_retweeted_uid LIMIT 1;")

In [4]:
c.execute('''SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;''')
for i in c.fetchall():
    print(i)

('class_proba',)
('filename',)
('hashtag',)
('hashtag_tweet_user',)
('query',)
('retweeted_status',)
('source_content',)
('source_url',)
('tweet',)
('tweet_to_keyword',)
('tweet_to_mentioned_uid',)
('tweet_to_query_id',)
('tweet_to_quoted_uid',)
('tweet_to_replied_uid',)
('tweet_to_retweeted_uid',)
('url_retweet_user',)
('url_tweet_user',)
('user',)

In [6]:
def describe(table):
    print("-" * 50, "TABLE", table, "-" * 50)
    c.execute("SELECT count(*) FROM '{}';".format(table))
    d = c.fetchone()
    print('count：', d)

    c.execute("SELECT * FROM '{}' LIMIT 1;".format(table))
    col_name = [t[0] for t in c.description]
    d = c.fetchone()
    for k, v in zip(col_name, d):
        print(k, v, sep="\t\t")
    print("")
        
c.execute('''SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;''')
for table in c.fetchall():
    describe(table[0])

-------------------------------------------------- TABLE class_proba --------------------------------------------------
count： (97758182,)
tweet_id		771131463345565696
user_id		2429107224
p_pro_hillary_anti_trump		0.010749551864870628

-------------------------------------------------- TABLE filename --------------------------------------------------
count： (1353,)
id		0
filename		tweets-c1dcab45-e68e-4861-a897-5c9c8ecd5f19.taj

-------------------------------------------------- TABLE hashtag --------------------------------------------------
count： (571629,)
id		1
hashtag		werk
count		25

-------------------------------------------------- TABLE hashtag_tweet_user --------------------------------------------------
count： (43655958,)
tweet_id		771131463383285761
hashtag		usa
user_id		3192506298
ht_signi_final		None
ht_signi_final_june_sep		None

-------------------------------------------------- TABLE query --------------------------------------------------
count： (2,)
id		0
query		hillary OR clinton OR hillaryclinton

-------------------------------------------------- TABLE retweeted_status --------------------------------------------------
count： (7907199,)
tweet_id		1571693
query_id		1
filename_id		1024
datetime_EST		2006-12-22 19:20:36
user_id		71693
text		Donald Trump needs to die.
place		None
source_url_id		65
source_content_id		70

-------------------------------------------------- TABLE source_content --------------------------------------------------
count： (18790,)
id		0
source_content		Your best free sharing tool!

-------------------------------------------------- TABLE source_url --------------------------------------------------
count： (14492,)
id		0
source_url		http://linkis.com

-------------------------------------------------- TABLE tweet --------------------------------------------------
count： (100400999,)
tweet_id		771131463345565696
query_id		0
filename_id		0
datetime_EST		2016-08-31 18:44:02
user_id		2429107224
text		Clinton Emailed Classified Information From Her Private Server AFTER Leaving State Department https://t.co/AqnPGmeA2C via @BarracudaMama
place		None
source_url_id		0
source_content_id		0

-------------------------------------------------- TABLE tweet_to_keyword --------------------------------------------------
count： (125186311,)
tweet_id		771131463345565696
keyword		clinton

-------------------------------------------------- TABLE tweet_to_mentioned_uid --------------------------------------------------
count： (40694821,)
tweet_id		771131463345565696
mentioned_uid		73657657
author_uid		2429107224

-------------------------------------------------- TABLE tweet_to_query_id --------------------------------------------------
count： (106758919,)
tweet_id		771131463345565696
query_id		0

-------------------------------------------------- TABLE tweet_to_quoted_uid --------------------------------------------------
count： (2712599,)
tweet_id		771131463383285761
quoted_uid		457984599
author_uid		3192506298

-------------------------------------------------- TABLE tweet_to_replied_uid --------------------------------------------------
count： (10064719,)
tweet_id		771131465287528449
replied_uid		1339835893
author_uid		754080446078676993

-------------------------------------------------- TABLE tweet_to_retweeted_uid --------------------------------------------------
count： (71935828,)
tweet_id		771131463924199424
retweeted_uid		1339835893
author_uid		55956218
retweet_id		771037992811163648

-------------------------------------------------- TABLE url_retweet_user --------------------------------------------------
count： (4472205,)
tweet_id		771131180641054720
url		http://insider.foxnews.com/2016/08/27/video-shows-ku-klux-klan-kkk-grand-dragon-endorsing-hillary-clinton
user_id		3402935435
indice_start		53

-------------------------------------------------- TABLE url_tweet_user --------------------------------------------------
count： (34389828,)
tweet_id		771131463345565696
url		http://ln.is/bb4sp.com/3qZGn
user_id		2429107224
indice_start		94

-------------------------------------------------- TABLE user --------------------------------------------------
count： (8287214,)
user_id		12
first_location		None
first_tweet_time_EST		2016-11-02 09:36:33
latest_tweet_time_EST		2016-11-04 11:40:15
num_tweet		3

In [1]:
# 关键fake news

tid = 742417158429233152

c.execute('''SELECT * FROM tweet WHERE tweet_id={};'''.format(tid))
col_name = [t[0] for t in c.description]
d = c.fetchone()
print(d)
for k, v in zip(col_name, d):
    print(k, v, sep="\t")
print("-" * 100)

c.execute('''SELECT * FROM retweeted_status WHERE tweet_id={};'''.format(tid))
col_name = [t[0] for t in c.description]
d = c.fetchone()
for k, v in zip(col_name, d):
    print(k, v, sep="\t")
print("-" * 100)

c.execute('''SELECT * FROM class_proba WHERE tweet_id={};'''.format(tid))
col_name = [t[0] for t in c.description]
d = c.fetchone()
if d:
    for k, v in zip(col_name, d):
        print(k, v, sep="\t")
else:
    print("是原创的tweet！")
print("-" * 100)

c.execute('''SELECT * FROM url_tweet_user WHERE tweet_id={};'''.format(tid))
col_name = [t[0] for t in c.description]
d = c.fetchone()
for k, v in zip(col_name, d):
    print(k, v, sep="\t")

c.execute('''SELECT * FROM user WHERE user_id={};'''.format(39344374))
col_name = [t[0] for t in c.description]
d = c.fetchone()
for k, v in zip(col_name, d):
    print(k, v, sep="\t")
print("-" * 100)

NameError: name 'c' is not defined

In [2]:
conn = sqlite3.connect("/home/alex/network_workdir/elections/databases/urls_db.sqlite")
c = conn.cursor()

### c.execute('''SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;''')
for d in c.fetchall():
    print(d)
    
c.execute('''SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;''')
for table in c.fetchall():
    describe(table[0])

NameError: name 'sqlite3' is not defined

In [20]:
conn = sqlite3.connect("/home/alex/network_workdir/elections/databases/complete_trump_vs_hillary_class_proba_final_htgs_db.sqlite")
c = conn.cursor()

### c.execute('''SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;''')
for d in c.fetchall():
    print(d)
    
c.execute('''SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;''')
for table in c.fetchall():
    describe(table[0])

-------------------------------------------------- TABLE class_proba --------------------------------------------------
count： (73144701,)
tweet_id		737807390339272705
user_id		889979617
p_pro_hillary_anti_trump		0.026475403948590118

-------------------------------------------------- TABLE retweet_class_proba --------------------------------------------------
count： (6547439,)
tweet_id		478925052
user_id		1367531
p_pro_hillary_anti_trump		0.889689384739253

In [19]:
conn = sqlite3.connect("/home/alex/network_workdir/elections/databases/complete_trump_vs_hillary_sep-nov_class_proba_final_htgs_june_sep_db.sqlite")
c = conn.cursor()

### c.execute('''SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;''')
for d in c.fetchall():
    print(d)
    
c.execute('''SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;''')
for table in c.fetchall():
    describe(table[0])

-------------------------------------------------- TABLE class_proba --------------------------------------------------
count： (100400999,)
tweet_id		771131463345565696
user_id		2429107224
p_pro_hillary_anti_trump		0.013116892518828256

-------------------------------------------------- TABLE retweet_class_proba --------------------------------------------------
count： (7678804,)
tweet_id		1571693
user_id		71693
p_pro_hillary_anti_trump		0.4478215319044729

In [18]:
tid = "771131463345565696"

def opinion(_id):
    """
    1 是支持trump
    """

    def get_class_proba(_id):
        """
        >= 0.5 支持希拉里
        """

        re = -1

        conn = sqlite3.connect("/home/alex/network_workdir/elections/databases/complete_trump_vs_hillary_class_proba_final_htgs_db.sqlite")
        c = conn.cursor()
        c.execute("SELECT p_pro_hillary_anti_trump FROM class_proba WHERE tweet_id={}".format(_id))
        d = c.fetchone()
        if d:
            re = float(d[0])
        else:
            c.execute("SELECT p_pro_hillary_anti_trump FROM retweet_class_proba WHERE tweet_id={}".format(_id))
            d = c.fetchone()
            if d:
                re = float(d[0])

        conn.close()
        if re != -1:
            return re

        conn = sqlite3.connect("/home/alex/network_workdir/elections/databases/complete_trump_vs_hillary_sep-nov_class_proba_final_htgs_june_sep_db.sqlite")
        c = conn.cursor()
        c.execute("SELECT p_pro_hillary_anti_trump FROM class_proba WHERE tweet_id={}".format(_id))
        d = c.fetchone()
        if d:
            re = float(d[0])
        else:
            c.execute("SELECT p_pro_hillary_anti_trump FROM retweet_class_proba WHERE tweet_id={}".format(_id))
            d = c.fetchone()
            if d:
                re = float(d[0])

        conn.close()

        return re

    v = get_class_proba(_id)
    if v == -1:
        return -1
    return 1 if v < 0.5 else 0

opinion(tid)

(0.005353952144600862,)

1

In [16]:
import ujson as json

# 发现那些其实是转发的tweet！
source_tids = []
data = json.load(open("data/retweet_network_fake.json"))
for source in data.values():
    c.execute("select retweeted_status from urls where tweet_id={}".format(source))
    d = c.fetchone()
    if d and d[0] == 0:
        source_tids.append(source)
    
print(len(source_tids))

386802

In [17]:
print(source_tids[0])

set_tids = set(source_tids)

cnt = 0
for source in data.keys():
    if source in set_tids:
        cnt += 1
print(cnt)

766707481611497472
0

In [13]:
from tqdm import tqdm

conn = sqlite3.connect("/home/alex/network_workdir/elections/databases_ssd/complete_trump_vs_hillary_db.sqlite")
c = conn.cursor()

for _id in tqdm(source_tids):
    c.execute('''SELECT retweet_id FROM tweet_to_retweeted_uid WHERE tweet_id={};'''.format(_id))
    d = c.fetchone()
    if d:
        print(d)

100%|██████████| 1276639/1276639 [00:13<00:00, 96158.37it/s]